---
import { ActionBar } from "primer-components";
import { ActionBarItem } from "primer-components";
import { ActionBarDivider } from "primer-components";
import { Icon } from "primer-components";

const sizes = ["small", "medium", "large"];
const overflowOptions = [true, false];
---

<div class="space-y-4">
	<ActionBar>
	</ActionBar>
</div>
