---
import { ActionBar } from "primer-components";
import { ActionBarItem } from "primer-components";
import { ActionBarDivider } from "primer-components";
import { Icon } from "primer-components";

const sizes = ["small", "medium", "large"];
const overflowOptions = [true, false];
---

<div class="space-y-4">
	{
		sizes.map((size) =>
			overflowOptions.map((overflow) => (
				<div>
					<ActionBar size={size}>
						<ActionBarItem slot="items">
							<Icon iconName="alert" />
						</ActionBarItem>
						<ActionBarItem slot="items">
							<Icon iconName="archive" />
						</ActionBarItem>
						<ActionBarDivider slot="items" />
						<ActionBarItem slot="items">
							<Icon iconName="arrow-down" />
						</ActionBarItem>
						<ActionBarItem slot="items">
							<Icon iconName="bell" />
						</ActionBarItem>
						<ActionBarItem slot="items">
							<Icon iconName="bookmark" />
						</ActionBarItem>
					</ActionBar>
				</div>
			))
		)
	}
</div>
