---
import { Button } from "primer-components";

const variants = ["primary", "secondary", "danger", "invisible"];
const sizes = ["small", "medium", "large"];
const alignments = ["center", "start"];
const states = [null, "disabled", "inactive"];
---

<html data-color-mode="light" data-light-theme="light">
	<head>
		<title>Use Custom Component</title>
	</head>
	<body>
		<div class="flex flex-wrap gap-4 p-4">
			{
				variants.map((variant) =>
					alignments.map((align) =>
						states.map((state) =>
							sizes.map((size) => (
								<div class="flex justify-center items-center">
									<Button
										variant={variant}
										size={size}
										alignContent={align}
										{...(state && { [state]: true })}
									>
										Button
									</Button>
								</div>
							))
						)
					)
				)
			}
		</div>
	</body>
</html>
