---
import ActionBars from "../components/ActionBars.astro";
---

<html data-color-mode="light" data-light-theme="light">
	<head>
		<title>Use Custom Component</title>
	</head>
	<body> <ActionBars /></body>
</html>
