---

---

<div class="relative flex p-0 px-5 toolbarWrapper gap-2">
	<button
		class="flex-none px-4 py-2 font-bold text-white bg-blue-500 rounded button hover:bg-blue-700"
		data-targetid="save">Save</button
	>
	<button
		class="flex-none px-4 py-2 font-bold text-white bg-blue-500 rounded button hover:bg-blue-700"
		data-targetid="upload">Upload</button
	>
	<button
		class="flex-none px-4 py-2 font-bold text-white bg-blue-500 rounded button hover:bg-blue-700"
		data-targetid="download">Download</button
	>
	<button
		class="flex-none px-4 py-2 font-bold text-white bg-blue-500 rounded button hover:bg-blue-700"
		data-targetid="send">Send</button
	>
	<button
		class="flex-none px-4 py-2 font-bold text-white bg-blue-500 rounded button hover:bg-blue-700"
		data-targetid="star">Star</button
	>
	<button
		class="flex-none px-4 py-2 font-bold text-white bg-blue-500 rounded button hover:bg-blue-700"
		data-targetid="archive">Archive</button
	>
	<button
		class="flex-none px-4 py-2 font-bold text-white bg-blue-500 rounded button hover:bg-blue-700"
		data-targetid="delete">Delete</button
	>
	<div class="relative flex items-center justify-end">
		<div
			class="absolute right-0 flex flex-col gap-2 hidden mt-2 bg-white overflowMenu top-full"
		>
			<!-- Items will be dynamically inserted here -->
		</div>
		<button
			class="px-4 py-2 font-bold text-white bg-blue-500 rounded toggleOverflowMenu hover:bg-blue-700 whitespace-nowrap"
		>
			Toggle Overflow
		</button>
	</div>
</div>

<script>
	import $ from "jquery";

	$(document).ready(function () {
		const $toolbar = $(".toolbarWrapper");
		const $overflowMenu = $(".overflowMenu");
		const $toggleButton = $(".toggleOverflowMenu");

		function updateVisibility() {
			let toolbarWidth = $toolbar.width();
			let toggleButtonWidth = $toggleButton.outerWidth(true);
			let availableWidth = toolbarWidth - toggleButtonWidth;
			let usedWidth = 0;
			let overflowItems = [];

			$toolbar
				.children("button:not(.toggleOverflowMenu)")
				.each(function () {
					let buttonWidth = $(this).outerWidth(true);
					usedWidth += buttonWidth;
					if (usedWidth > availableWidth) {
						overflowItems.push(this);
						$(this).addClass("hidden");
					} else {
						$(this).removeClass("hidden");
					}
				});

			$overflowMenu.empty();
			overflowItems.forEach((item) => {
				let $clonedItem = $(item).clone().removeClass("hidden");
				$overflowMenu.append($clonedItem);
			});
		}

		$toggleButton.click(function () {
			$overflowMenu.toggleClass("hidden");
		});

		$(window).resize(updateVisibility);
		updateVisibility();
	});
</script>
