---
import octicons from "@primer/octicons";
import spinnerSVG from "../assets/Spinner.svg?raw";

const { iconName, iconClass = "" } = Astro.props;

const getIconSVG = (iconName, iconClass) => {
	if (iconName === "spinner") {
		return `<span class="${iconClass}">${spinnerSVG}</span>`;
	}
	const svgClass = iconClass || "fill-current";
	return octicons[iconName]?.toSVG({ class: svgClass }) || "";
};
---

<span set:html={getIconSVG(iconName, iconClass)} />
